{% extends "base.twig" %}

{% block body %}
	<h1>Home</h1>
	<p>Welcome to the {{ guild.getName() }} page</p>
	<p>Here you can find all the information about the guild</p>

	<a class="btn btn-danger" href="{{ url_for('delete-guild') }}">Delete guild</a>

	<h2>Members</h2>
	<form action="{{ url_for('accept-member') }}" method="post">
		<label for="addMemberSelect"></label>
		<select class="form-control" id="addMemberSelect" name="addMember">
			<option value="">Select a member</option>
			<option value="1">Ayun</option>
		</select>
		<input type="hidden" id="owner" name="owner" class="form-control" value="{{ user.getId() }}">

		<button type="submit" class="btn btn-primary">Add member</button>
	</form>
{% endblock %}
